
<%- include("partials/header"); -%>
<h1>HOME</h1>
<p><%= homeContent %></p>




<% numofpost.forEach(function(post){ %>
<%     console.log(post.title); %>
<%}); %>

<%- include("partials/footer"); -%>

